body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

input, button {
    padding: 10px;
    margin: 10px 0;
    font-size: 1em;
    border-radius: 5px;
}

button {
    background-color: rgb(131, 102, 148);
    color: #f0f0f0;
}

p {
    font-size: 1.2em;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background: #fff;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
}